.home_cont {
  width: 100%;
  height: 300px;
  .hero_cont {
    height: 500px;
    background-position: center;
    width: 100%;
    background-image: url("/ddl.png");
    animation: zoomBackground 10s ease-in-out forwards;
    .hero_info {
      display: flex;
      flex-direction: column;
      width: fit-content;
      max-width: 500px;
      height: 300px;
      transform: translateY(150px);
      margin-left: 10%;
      .title {
        color: aliceblue;
        font-size: 50px;
        margin: 0;
        font-weight: 700;
        animation: hero_text 0.5s forwards;
        font-family: "Montserrat", sans-serif;
      }
      .description {
        color: aliceblue;
        animation: hero_text 1s forwards;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
      }
      button {
        height: 60px;
        padding: 20px;
        animation: hero_text 1s forwards;
        padding-bottom: 45px;
        margin-top: 10px;
        font-weight: 600;
        font-size: 20px;
        color: rgb(255, 255, 255);
        border: 0px;
        transition: 0.5s;
        background-color: rgba(0, 0, 0, 0.897);
        font-family: "Montserrat", sans-serif;
        border-radius: 50px;
        background-color: #27578f;
      }
      button:hover {
        background-color: rgba(255, 255, 255, 0.897);
        color: #0000009a;
      }
    }
  }
  .info_cont {
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    .info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-family: "Montserrat", sans-serif;
      align-items: center;
      h1 {
        margin-bottom: -30px;
        position: relative;
        text-align: center;
        z-index: 2;
      }
      p {
        width: 80%;
        text-align: center;
      }
      a {
        color: #27578f;
      }

      .hidden {
        opacity: 0;
        transform: translateX(-150px);
        transition:
          opacity 0.5s ease-in-out,
          transform 0.5s ease-in-out;
      }
      .visible {
        transform: translateX(0px);
        opacity: 1;
      }
    }
    .promos {
      background-color: #e7e7e7;
      width: 100%;
      h1 {
        color: #616364;
        margin-top: 80;
      }
    }
  }
}
@keyframes zoomBackground {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%; /* Aumenta el zoom */
  }
}

@keyframes hero_text {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}
